* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url("./image.html_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px ridge rgb(38, 216, 38);
}

.menu {
  background-color: black;
  color: white;
  padding: 20px;
  border: 5px solid red;
  border-radius: 30px;
  font-weight: bold;
  width: 450px;
  text-align: center;
  font-size: 25px;
  margin: auto;
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.items {
  background-color: cyan;
  border: 3px solid darkgreen;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  color: purple;
  width: 400px;
  padding-bottom: 10px;
}

.items h1 {
  padding: 10px;
}

ul {
  margin-top: 10px;
}

.box {
  background-color: black;
  color: white;
  border: 5px solid red;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
  /* padding: 20px; */
}

#b1,
#b3 {
  padding: 20px;
  font-style: italic;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#b2 {
  align-self: flex-start;
  padding: 20px 80px 10px 80px;
  font-style: italic;
}

section {
  display: flex;
  align-items: center;
}

.circle {
  background-color: rgb(105, 187, 166);
  height: 390px;
  width: 390px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: 5px solid gray;
  padding-top: 70px;
  margin-left: 30px;
}

.circle h3 {
  text-transform: uppercase;
  text-decoration: underline;
  padding: 20px 0;
}

.form {
  border: 5px dashed red;
  text-align: center;
  color: rgb(250, 140, 158);
  margin-left: 150px;
  background-color: white;
}

.form h2 {
  padding: 10px;
}

input {
  text-align: center;
}
